body {
    background-color: var(--roxo_escuro);
}

#contato, #whatsapp {
    background-color: var(--roxo);
    color: var(--branco);
}
#portifolio, #email {
    background-color: var(--roxo);
    color: var(--branco);
}