@font-face {
    font-family: 'eurofighter';
    src: format('truetype') url('fontes/eurofighter.ttf');
}
@font-face {
    font-family: 'rubik-black';
    src: format('truetype') url('fontes/RUBIK-BLACK.ttf');
}
@font-face {
    font-family: 'rubik-regular';
    src: format('truetype') url('fontes/RUBIK-REGULAR.ttf');
}
@font-face {
    font-family: 'rubik-light';
    src: format('truetype') url('fontes/RUBIK-LIGHT.ttf');
}
:root {
    --roxo_escuro: #320461;
    --roxo: #6408c1;
    --azul_1: #3371fa;
    --azul_2: #2b95fb;
    --azul_3: #68ddcd;
    --branco: #f7f7f7;
    --cinza_1: #c8c8c8;
    --cinza_2: #8c8c8c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    
}
main {
    width: 100%;
    min-width: 320px;
    max-width: 520px;
    padding: 50px 10px 10px;
    margin: auto;
}
main img {
    width: 100px;
    margin-left: calc(50% - 50px);
}

h1 {
    text-align: center;
    color: var(--branco);
    font-family: "rubik-black", Sans-serif;
    font-weight: 800;
}

h2 {
    text-align: center;
    color: var(--branco); 
    margin-bottom: 10px;
    font-family: "rubik-light", Sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
}
section {
    border: none;
    color: var(--cinza_2);
    padding: 0 30px;
    margin: 20px 0;
    height: 111px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease;
}
section:hover {
    border-radius: 45px;
}
p {
    font-family: "rubik-regular", sans-serif;
    font-size: 25px;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    margin: auto 0;
}
.fa-arrow-right {
    font-size: 25px;
    font-weight: 600;
    height: 25px;
    margin: auto 20px;
}

section > i {
    font-size: 60px;
    height: fit-content;
    margin: auto 0;
    justify-self: flex-end;
}
section div {
    width: 100%;
    display: flex;
}

div#mosaic {
    text-align: right;
    vertical-align: middle;
    color: var(--branco);
    font-size: 15px;
    padding: 10px;
    font-family: "eurofighter";
    position: absolute;
    bottom: 0;
    right: 0;
}
div#mosaic > img {
    height: 15px;
}

#mode {
    color: var(--branco);
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    margin: 10px;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

#mode:hover {
    border: 2px solid var(--branco);
}