* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #220e40, #000096, #0000ff, #0096ff, #00ffff);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

main {
    width: 320px;
    padding: 10px;
    margin: auto;
}

main img {
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
}

h1 {
    text-align: center;
    color: #f8f8f8;
}

h2 {
    text-align: center;
    color: #c6c6c6; 
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
button {
    background-color: #f8f8f8;
    border: none;
    color: #8c8c8c;
    padding: 10px;
    border-radius: 15px;
    height: 75px;
    display: flex;
    vertical-align: middle;
    text-align: left;
}
p {
    width: 220px;
}
button > i {
    font-size: 50px;
}
button img {
    height: 45px;
}